@forward "utilities";
@forward "components";
@forward "layouts";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
  color: var(--clr-text);
  background-color: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 51px);
  overflow: hidden auto;

  @media (min-width: 678px) {
    height: calc(100dvh - 53.09px);
  }
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.Toastify {
  position: relative;
  z-index: 9999999;
}
