.confirm-popup {
  width: 100%;
  max-width: 350px;
  padding: 1.2rem;
  background-color: var(--bg-secondary);
  border-radius: 10px;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p.description {
    font-size: 0.9rem;
    opacity: 0.5;
  }

  .buttons {
    display: flex;
    justify-content: end;
    gap: 0.2rem;
    margin-top: 2.2rem;
  }
}
