header {
  background-color: var(--bg-secondary);
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    gap: 1.1rem;
  }

  .logo {
    margin-right: auto;
    width: 100px;
    height: 100%;
    user-select: none;
  }

  @media (min-width: 678px) {
    .logo {
      width: 120px;
    }

    .btn {
      font-size: 1.1rem;
    }
  }
}
