.user-profile {
  position: relative;
  width: 100%;
  max-width: 350px;
  padding: 1.2rem;
  padding-top: 0;
  background-color: var(--bg-secondary);
  border-radius: 10px;

  hr {
    width: 100%;
    margin-block: 1.4rem;
    opacity: 0.1;

    [light] & {
      opacity: 0.8;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img,
    .name {
      transform: translateY(-30%);
    }

    img {
      width: 80px;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 10px;
      border: 4px solid var(--clr-light);
    }

    .name {
      font-size: 1.2em;
      font-weight: 700;
    }

    .email {
      font-size: 0.85em;
      opacity: 0.7;
    }

    @media (min-width: 678px) {
      .info {
        font-size: 1.2rem;
      }
    }
  }

  .settings {
    display: grid;
    gap: 0.8rem;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }

  button.logout {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    height: 24px;
    color: var(--clr-danger);
    border-radius: 2px;

    @media (hover: hover) {
      &:is(:hover, :focus-visible) {
        color: var(--clr-light);
        background-color: var(--clr-danger);
      }
    }
  }
}
