:root {
  --bg-secondary-l: rgba(25, 25, 25, 0.05);
  --clr-primary: rgba(147, 42, 184, 1);
  --bg-secondary-d: rgba(250, 240, 230, 0.05);
  --clr-light: rgba(250, 240, 230, 1);
  --clr-dark: rgba(25, 25, 25, 1);
}
