.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    text-transform: capitalize;
  }

  input {
    font-size: 1.15rem;
    width: 100%;
    padding: 0.4em 0.6em;
    background-color: var(--bg);
    border-radius: 5px;
    border: none;

    [light] & {
      border: 1px solid var(--clr-text);
    }
  }
}
